@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

html {

    overflow: scroll;
    overflow-x: hidden;
}

body{
    overflow: hidden;

}


#root{
    min-height: 100vh;
    position : relative;
    padding-bottom: 209px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h2, p, li{
    font-size: 18px;
}

.active{
    text-decoration: underline;
}

@media screen and (max-width: 727px) {
    li{
        font-size: 12px;
    }
   
}
    
